body {
  height: 100vh;
}

/* .galery {
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.card {
  width: 500px;
  height: 500px;
  background-color: red;
  scroll-snap-align: center;
}

.card:nth-child(1) {
  background-color: blue ;
}

.card:nth-child(2) {
  background-color: yellow ;
} */

/* NEXT */
.box {
  height: ´200px;
  width: 200px;
  background-color: #111;
}