* {
  /* margin: 0; */
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.haus {
  width: 75vw;
  height: 400px;
  background-color: rgb(64, 255, 0);
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(180deg);
}
.eugen {
  height: 170px;
  width: 20%;
}

.nina {
  height: 160px;
  width: 20%;
}

.rafael {
  height:150px;
  width: 20%;
}

.vinzent {
  height:140px;
  width: 20%;
}

.beirit {
  border: solid 1px #aaa;
  margin: 10px;
}