*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
}

.card {
  height: max-content;
  width: 100%;
  padding: 5rem;
  perspective: 800px;
  position: relative;
}

.front,
.back {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 300px;
  /* width: 300px; */
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 2s;
  display: grid;
  place-items: center;
  font-size: 4rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

  /* transform-style: preserve-3d; */
  backface-visibility: hidden;
}

.front {
  background: url(//source.unsplash.com/300x300?forrest);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.back {
  background: url(//source.unsplash.com/300x300?beach);
  transform: rotateX(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* on hover: move both cards: 180 deg */
.card:hover>.front {
  transform: rotateY(180deg);
}

.card:hover>.back {
  transform: rotateX(360deg);
}

span {
  display: inline-block;
  padding: 0px 20px;
  /* background: rgba(0,0,0, 0.5); */
  color: white;
}