*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --white: #fafafa;
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 3.2vw;
  color: aliceblue;
  font-weight: 900;
  /* background: linear-gradient(#66a3ff, #00bcd4, #66a3ff); */
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

header {
  width: 100%;
  height: max-content;
  background-color: #222;
  color: #fff;
  background: linear-gradient(#66a3ff, #00bcd4, #66a3ff);
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem 0;
}

h1 {
  text-align: center;
}

/*** LIST ***/
/* .list {
  width: 90%;
  border: solid 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
} */

section {
  /* border: 2px solid red; */
  width: 85%;
  display: flex;
  justify-content: center;
}

/*** DIE ARTIKEL ***/
.red {
  background-color: var(--red);
}
/*** DER ARTIKEL ***/
.green {
  background-color: var(--green);
}
/*** DAS ARTIKEL ***/
.blue {
  background-color: var(--blue);
}

.red,
.green,
.blue {
  line-height: 3;
}

/* @media (max-width: 500px) {
  section ol li {
    font-size: 1vw;
  }
} */
