/*** ROOT ***/
:root {
  font-size: 62.5%;
  --h1: 3.2rem;
  --h2: 2.4rem;
  --h3: 1.8rem;
  --h4: 1.6rem;
  --h5: 1.4rem;
  --h6: 1.2rem;
  /* --border: dashed .2% red; */
  --padding: 0 1rem;
  --black: #111;
  --carrot: rgb(253, 81, 38);
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --chartreuse: rgb(127, 255, 0);
  --gold: rgb(255, 215, 0);
  --grey: rgb(128, 128, 128);
  --dark-blue: #6eb5e1;
  --dark-green: #183153;
  --white: #fffafa;
}

/*** RESET ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: all 0.35s;
  scroll-behavior: smooth;
}

/*** HTML BODY ***/
html,
body {
  width: 100vw;
  min-height: 100vh;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: flex;
  justify-content: center;
}

/*** WRAPPER ***/
#wrapper {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

/*** HEADER // FOOTER ***/
header {
  background: linear-gradient(var(--dark-blue), var(--dark-green));
}
header,
footer {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  color: var(--white);
}
footer {
  justify-content: space-around;
  background: linear-gradient(var(--dark-green), var(--dark-blue)),
    var(--dark-green);
}

/*** SECTION ***/
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: var(--h2);
    background: none repeat scroll 0 0 #000000;
   /* color: #FFFFFF;
    text-shadow:
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #FF00DE,
    0 0 70px #FF00DE,
    0 0 80px #FF00DE,
    0 0 100px #FF00DE,
    0 0 150px #FF00DE; */

}

/*** IMAGE ***/
img {
  /*width: 100%;*/
  height: 100%;
}

/*** ANCHOR ***/
a:hover {
  text-decoration: underline;
}

/*** FONT-AWESOME ***/
i {
  font-size: 4.8rem;
  padding: var(--padding);
}

/*** DIE ARTIKEL ***/
.red {
  color: var(--red);
}
/*** DER ARTIKEL ***/
.green {
  color: var(--green);
}
/*** DAS ARTIKEL ***/
.blue {
  color: var(--blue);
}

.red,
.green,
.blue,
li {
  line-height: 3;
  /* text-shadow: 0 0 .1rem #111, .1rem .1rem .1rem #111; */
  background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-shadow:
    1px 1px 1px #111,
    -1px -1px 1px #111,
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #FF00DE,
    0 0 70px #FF00DE,
    0 0 80px #FF00DE,
    0 0 100px #FF00DE,
    0 0 150px #FF00DE;
}

ol {
  font-size: 10vw;
}

/* nav ul li a {
  display: block;
  padding: var(--padding);
  display: block;
} */

/*** MEDIA ***/
/* @media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
} */
