/*** ROOT ***/
:root {
  font-size: 62.5%;
  --h1: 3.2rem;
  --h2: 2.4rem;
  --h3: 1.8rem;
  --h4: 1.6rem;
  --h5: 1.4rem;
  --h6: 1.2rem;
  /* --border: dashed .2% red; */
  --padding: 0 1rem;
  --black: #111;
  --carrot: rgb(253, 81, 38);
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --chartreuse: rgb(127, 255, 0);
  --gold: rgb(255, 215, 0);
  --grey: rgb(128, 128, 128);
  --dark-blue: #6EB5E1;
  --dark-green: #183153;
  --white: #FFFAFA;
}

/*** RESET ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: all .35s;
  scroll-behavior: smooth;
}

/*** HTML BODY ***/
html,
body {width: 100vw; min-height: 100vh;}
body {display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; display: flex; justify-content: center; background: var(--dark-green);}

/*** WRAPPER ***/
#wrapper {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

/*** HEADER // FOOTER ***/
header {background: linear-gradient(var(--dark-blue), var(--dark-green));}
header,
footer {display: flex; align-items: center; height: 10%; width: 100%; color: var(--white);}
footer {justify-content: space-around; background: linear-gradient(var(--dark-green), var(--dark-blue)), var(--dark-green);}

/*** SECTION ***/
section {min-height: 100vh; background-color: #ddd; display: flex; justify-content: center; font-size: var(--h2);
  background: hsl(190,50%,80%);
  color:hsl(190,50%,80%);
  text-shadow: 
    -1px -1px 1px hsl(190,50%,90%), 
    1px 1px 1px hsl(190,50%,50%);}

/*** IMAGE ***/
img {/*width: 100%;*/ height: 100%;}

/*** ANCHOR ***/
a:hover {text-decoration: underline;}

/*** FONT-AWESOME ***/
i {
  font-size: 4.8rem;
  padding: var(--padding);
}

/*** DIE ARTIKEL ***/
.red {color: var(--red);}
/*** DER ARTIKEL ***/
.green {color: var(--green);}
/*** DAS ARTIKEL ***/
.blue {color: var(--blue);}

.red,
.green,
.blue {
  line-height: 3;
  /* text-shadow: 0 0 .1rem #111, .1rem .1rem .1rem #111; */
  color: hsl(15, 70%, 70%);
  background: hsl(15, 60%, 82%);
  text-shadow: 0 1px 0 hsl(15, 40%, 60%), 0 1px 0 hsl(15, 40%, 58%),
    0 3px 0 hsl(15, 40%, 56%), 0 4px 0 hsl(15, 40%, 54%),
    0 5px 0 hsl(15, 40%, 52%), 0 6px 1px hsl(15, 40%, 50%),
    0 0 5px hsl(15, 20%, 60%), 0 1px 3px hsl(15, 20%, 58%),
    0 3px 5px hsl(15, 20%, 56%), 0 5px 10px hsl(15, 20%, 54%),
    0 10px 10px hsl(15, 20%, 52%), 0 15px 15px hsl(15, 20%, 50%);
}

/* nav ul li a {
  display: block;
  padding: var(--padding);
  display: block;
} */

/*** MEDIA ***/
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
