*,
*::before,
*::after {margin: 0; box-sizing: border-box;}
:root {font-size: 62.5%;}

body {width: 100%; height: 100%; display: grid;/* place-items: center; */background: url(//source.unsplash.com/333x1080?forrest); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}

.card {
  height: 100vh;
  width: 100vw;
  margin: 2.5rem auto;
  padding: 2.5rem;
  perspective: 80rem;
  position: relative;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 2s;
  display: grid;
  font-size: 5rem;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.7);
  backface-visibility: hidden;
}

.back {
  transform: rotateX(180deg);
}

.card:hover>.front {
  transform: rotateY(180deg);
}
.card:hover>.back {
  transform: rotateX(360deg);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  font-weight: 900;
  text-shadow: 0 0 1rem #fafafa,
  .1rem .1rem 1rem #fafafa, -.1rem -.1rem 1rem #fafafa, .1rem .1rem .2rem #fafafa, -.1rem -.1rem .1rem #fafafa;
}

img {
  width: 100vw;
  height: 100vh;
}