p {
  font-size: 24px;
  background-color: rgb(91, 236, 91);
  /* display: inline; */
}

.main {
  text-align: center;
}

.container {
  display: inline-block;
  margin: 20px;
  margin-top: 50px;
  background-color: rgb(184, 184, 184);
  text-align: center;
}

.container > img {
  max-width: 300px;
}