body {
  font-size: 1.6rem;
}

/*** NAVIGATION ***/
nav {
  background: linear-gradient(var(--dark-blue),var(--dark-green),var(--dark-blue));
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
nav ul,
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
li {
  font-size: 95%;
}
nav ul li a {
  color: var(--white);
}

/*** FOOTER ***/
footer {
  height: max-content;
  position: relative;
}
/*** FOOTER LINK ***/
footer a {
  color: var(--white);
}
footer a:hover {
  color: var(--black);
}
footer:hover {
  color: var(--black);
}

/*** ICON-BOX ***/
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  padding: 1rem;
}
.box {
  align-self: center;
  animation-duration: 1.2s;
  animation-iteration-count: ease-in-out;
  margin: 0 auto;
  transform-origin: bottom;
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

/*** GITHUB-ICON ANIMATION ***/
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
